html {
    height: 100%;
}

body {
    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
    align-items: start;
}

.navbar-fixed {
    grid-row-start: 1;
    grid-row-end: 2;
}

body>.container {
    grid-row-start: 2;
    grid-row-end: 3;
    padding-bottom: 20px;
    justify-self: start;
}

.page-footer {
    background-color: rgba(126, 125, 125, 1);
    padding-top: 0;
    grid-row-start: 3;
    grid-row-end: 4;
}

.container footer {
    color: rgba(255, 255, 255, 1);
}

.footer-copyright {
    left: 1.67%;
}