p {
    padding-top: 19px;
    padding-bottom: 19px;
}

a {
    color: #003049;
}

#modalLogin,
#modalRegister {
    width: 385px;
    overflow: auto;
}

.btn {
    font-weight: bold;
}

#btn-register {
    margin-top: 19px;
}
